.msg {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #b0b0b0;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    visibility: hidden;
  }
    
  .showMessage {
    visibility: visible;
    animation: fadein 1s
  }
  
  .hideMessage {
    visibility: hidden;
    animation: fadeout 1s;
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


@media (prefers-color-scheme: white) {
.msg {
    color: #0f0f0f98;
    background-color: #fff;
}
}

@media (prefers-color-scheme: dark) {
.msg {
    color: #000;
    background-color: #b0b0b0;
}
}

  