:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
}

.intro{
  text-align: center;
}

header {
  background-color: #d83939;
  color: #fff;
  width: 100%;
  text-align: center;
}

main {
  padding: 2rem;
  width: 80%;
}

.translator-form, .confirm-submit {
  background: var(--backgroundColor2);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #d83939;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: transform 0.01s ease-in-out 0.01s;
}

button:hover {
  background-color: var(--buttonHoverColor);
  transform: scale(1.2);
  border-color: var(--buttonBorderColor);
}

button:active {
  background-color: #d83939;
  border-color: #396cd8;
}

.glossary-div, .parameters, .file-input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type="file"], input[type="text"], select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--inputBorderColor);
  border-radius: 6px;
  width: 100%;
}

input, select, select option{
  transition: transform 0.01s ease-in-out 0.05s;
  background-color: var(--inputColor);
  color: var(--inputFontColor);
}

input:hover, select:hover{
  transform: scale(1.05);
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.confirm-submit {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.confirm-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.document-info {
  margin-top: 2rem;
  background: var(--backgroundColor2);
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.quota-info{
  display: none;
  text-align: left;
  line-height: 0.5em;
}

#glossary-div{
  display:none;                               
}

.show{
  display:flex!important;
  flex-direction: column;
}

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid var(--spinnerBorderColor);
  border-radius: 50%;
  border-top-color: var(--spinnerColor);
  animation: spin 1s linear infinite;
}

.spinner.show{
  display: block;
}

#background-shadow {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none; 
  background-color: var(--shadow);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --backgroundColor: #2f2f2f;
    --fontColor: #fff;
    --backgroundColor2: rgb(26, 26, 26);
    --spinnerColor: #ff0000;
    --spinnerBorderColor: rgb(255, 255, 255);
    --inputColor: #2f2f2f;
    --inputFontColor: #fff;
    --shadow: rgba(0, 0, 0, 0.5);
    --inputBorderColor: #d83939;
    --buttonBorderColor: #ffffff;
    --buttonHoverColor: #b10000;
  }
}
  
@media (prefers-color-scheme: light) {
  :root{
    --backgroundColor: #f6f6f6;
    --fontColor: #333;
    --backgroundColor2: #fff;
    --spinnerColor: #ff0000;
    --spinnerBorderColor: rgb(255, 255, 255);
    --inputColor: #eeeeee;
    --inputFontColor: #333;
    --shadow: rgba(0, 0, 0, 0.5);
    --inputBorderColor: #d83939;
    --buttonBorderColor: #b0b0b0 ;
    --buttonHoverColor: #ff1717;
  }
}
